### Creating a map based on address coordinates of WoS dataset

In [1]:
import pandas as pd
import folium
import geocoder
import geopy

In [2]:
df = pd.read_excel(f'address.xlsx')

In [3]:
df.head(10)

                                                  PA
0        RADARWEG 29, 1043 NX AMSTERDAM, NETHERLANDS
1       445 HOES LANE, PISCATAWAY, NJ 08855-4141 USA
2  ONE NEW YORK PLAZA, SUITE 4600, NEW YORK, NY, ...
3       445 HOES LANE, PISCATAWAY, NJ 08855-4141 USA
4       445 HOES LANE, PISCATAWAY, NJ 08855-4141 USA
5       445 HOES LANE, PISCATAWAY, NJ 08855-4141 USA
6  10662 LOS VAQUEROS CIRCLE, PO BOX 3014, LOS AL...
7       445 HOES LANE, PISCATAWAY, NJ 08855-4141 USA
8       445 HOES LANE, PISCATAWAY, NJ 08855-4141 USA
9     ST ALBAN-ANLAGE 66, CH-4052 BASEL, SWITZERLAND

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2298 entries, 0 to 2297
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PA      2298 non-null   object
dtypes: object(1)
memory usage: 18.1+ KB

In [5]:
df.drop_duplicates(subset="PA", inplace = True)

In [6]:
df.reset_index(inplace = True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   76 non-null     int64
 1   PA      76 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.3+ KB

In [8]:
#getting the coordinates using Geocoder Arcgis
coord = []
for i in range(len(df['PA'])):
    g = geocoder.arcgis(df['PA'][i])
    latlong = g.latlng
    coord.append(latlong)

In [9]:
len(coord)

76

In [10]:
df = pd.DataFrame(columns=['latitude', 'longitude'], data=coord)

In [11]:
df.to_csv('coordinates.csv')

In [12]:
df.head(10)

    latitude   longitude
0  52.393165    4.836945
1  40.541224  -74.470537
2  40.702365  -74.012162
3  33.809143 -118.058916
4  47.552169    7.603122
5  32.717557 -117.159723
6  54.903786   23.957901
7  36.000532 -115.111005
8  39.936500  116.499300
9  52.369930    4.907880

In [13]:
world_map = folium.Map(zoom_start = 4)

for lat, long in zip(df['latitude'], df['longitude']):
    folium.Marker([lat, long], icon=folium.Icon(color="blue", icon='heart', prefix='glyphicon')).add_to(world_map)

In [14]:
world_map.save('world_map.html')